apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: gemba-management
  namespace: argocd
  labels:
    app.kubernetes.io/name: gemba-management
    app.kubernetes.io/part-of: gemba-platform
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default

  source:
    repoURL: https://github.com/jakobgabriel/gemba-management-app.git
    targetRevision: main
    path: helm/gemba-management
    helm:
      valueFiles:
        - values.yaml

  destination:
    server: https://kubernetes.default.svc
    namespace: gemba

  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
    retry:
      limit: 3
      backoff:
        duration: 5s
        factor: 2
        maxDuration: 3m

  revisionHistoryLimit: 10
